@font-face {
    font-family: my-font;
    src: url("Norse-Bold.otf");
}

body{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.side-img{
    background-image: url("cosmic-timetraveler--SFhuMwFClk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */

    display: flex;
    justify-content: center;

}

.bg{
    background-color: rgb(255, 255, 255);
    opacity: 0.20;
    height: 10vh;
    width: 50vw;
    flex:1;
    margin-top: 17vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.bg > p{
    font-family: my-font;
    font-size: min(5vh, 4vw);
}


.form-section{
    margin-top: 2vh;
    width: 50vw;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.form-section > form{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 30px;
    height: 60vh;
    margin-top: 5vh;
}
.form-section > p{
    font-size: calc(7px + 1vmin);
}
form>legend{
    font-size: calc(12px + 2vmin);
    font-weight: bold;
    margin-bottom: 5px;
}
form > ul{
    
    border-radius: 8px;
    height: 40vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
ul > li {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label{
    font-size: calc(7px + 1vmin);
    width: 200px;
    font-family:'Courier New', Courier, monospace;
}

input{
    flex: 1;
    font-family: inherit;
    font-size: 20px;
    height: 30px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

input:focus{
    background: rgba(0, 0, 0, 0.3);
}

.submit{
    padding: 2vh;
    display: flex;
    justify-content: center;
}
.submit-btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    font-weight: bold;
    width: 20vw;
    height: 5vh;
    background-color: bisque;
    border-radius: 8px;
}
.submit-btn:hover{
    background-color: rgba(252, 182, 96, 0.795);
}

